# Examining the results from new model

In [2]:
# Library imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [3]:
# Import the results
results = pd.read_csv('results_test.csv')
results = results.rename(columns={
    "Precipitation (kg/m^2/s)": "Precip",
    "Temperature (K)": "Temp",
    "Predictions": "Pred"
})

# Convert the date from ordinal to datetime
results['Date'] = results['Date'].apply(lambda x: datetime.datetime.fromordinal(x))

# Set index to date
results = results.set_index('Date')

results.head()

              Lat    Long    Alt  Precip        Temp       Pred  Actual
Date
2003-12-02  47.98   55.82  190.0     0.0  271.142517 -14.988722  -16.59
2003-12-02  49.38   82.12  245.0     0.0  265.255096 -21.777441  -20.07
2003-12-02  46.29   64.15   45.0     0.0  270.236603 -16.933195   -8.42
2003-12-02  45.32   75.67  114.0     0.0  269.147888 -19.425585  -13.85
2003-12-02  48.78  123.13  178.0     0.0  252.437027 -11.449940  -12.78

## Extracting a specific location from the model

In [5]:
# Res station located at lat of 74.43 and lon of 94.59
results['Lat'].unique()

array([47.98, 49.38, 46.29, 45.32, 48.78, 49.82, 53.32, 63.52, 49.67])