Redo of hydroGFD and CNIP extraction
================
I made a mistake in the hydroGFD extraction. And I need to try again but starting from the beginning. The mistake I made was in not converting the Longitude values to negative values for the Western Hemisphere.

In [ ]:
import pandas as pd
import numpy as np
import netCDF4 as nc
import glob
from datetime import datetime, timedelta

## CNIP data

In [ ]:
# List the stations within the CNIP dataset to extract
stationList = ["BAB", "BON", "CPA", "EGB", "ELA", "EST", "GOB", "HAB", "SAT", "SNA", "SKT", "OTT", "BRA", "CAM", "EUR", "RES", "ALR", "HAL"]
cnipDict = {} # Dictionary to store the CNIP data
stationCoords = {} # Dict to store the station coordinates
# Loop through each station and extract the data
for station in stationList:
    # Read in the data
    data = pd.read_excel("CNIP Updated Data Stations 10.08.2009..xls", header=None, sheet_name=station, skiprows=[0, 1])

    #Making sure the columns are filled properly with constant values: Station, Lat, Long, Alt
    data[0] = station #Station
    data[1] = data[1].iloc[0] #Lat
    data[2] = data[2].iloc[0] *-1 #Long
    data[3] = data[3].iloc[0] #Alt
    stationCoords[station] = tuple([data[1].iloc[0], data[2].iloc[0]]) #Store the station coordinates
    #Add the station data to the dictionary
    cnipDict[station] = data

columns = ["Station", "Lat", "Long", "Alt", "Date", "Month", "O18(1)", "O18(2)", "O18Avg", "H2(1)", "H2(2)", "H2avg", "dex", "Temp", "Prec(1)", "Prec(2)", "Prec(3)"]
# Combine the CNIP data into one dataframe
cnip = pd.concat(cnipDict.values(), ignore_index=True)
cnip.columns = columns

# Print the CNIP dataframe
cnip

In [ ]:
# Convert the date column to datetime format
cnip["Date"] = pd.to_datetime(cnip["Date"], format="%Y-%m-%d")

# Filling in empty strings with NaN
cnip = cnip.replace(r'^\s*$', np.nan, regex=True)

# Removing unnecessary columns
cnip = cnip.drop(["Month", "O18(1)", "O18(2)", "H2(1)", "H2(2)", "Prec(1)", "Prec(2)", "Prec(3)", "Temp"], axis=1)

# Removing rows in the Date column with NaT values
cnip = cnip[cnip.Date.isnull() == False].reset_index()
cnip

In [ ]:
# Make the CNIP dates to datetime objects with no time
cnip["Date"] = pd.to_datetime(cnip["Date"], format="%Y-%m-%d")

## HydroGFD data

### Precipitation

In [ ]:
# All the precipitation file starts with a "prAdjust" and ends with a ".nc"
path = "HydroGFD/prAdjust*"
precipFiles = glob.glob(path) #Creates a list of all the precipitation flux files relative paths

# Loop through each precipitation file and extract the data which should only be separated by time
# and store them in a single dataframe
precip = pd.DataFrame(columns=["Station","Lat", "Long", "Time", "Precipitation"])

# Loop through each file and pull out the data at each time step for every lat and lon coordinate we have in the CNIP dataset that is stored in the stationCoords dictionary
for file in precipFiles:
    ncid = nc.Dataset(file, "r")

    #Pull out the time data and coordiante data
    time = ncid.variables["time"][:].filled(np.nan)
    lat = ncid.variables["lat"][:].filled(np.nan)
    lon = ncid.variables["lon"][:].filled(np.nan)

    for stat, coords in stationCoords.items():
        latIndex = (np.abs(lat - coords[0])).argmin()
        lonIndex = (np.abs(lon - coords[1])).argmin()

        # Pull out the precipitation data at each time step
        precipData = ncid.variables["prAdjust"][:, latIndex, lonIndex].filled(0) #Filling with 0 is an assumption that if there is no data, then there is no precipitation
        
        # Place the lat, lon, time, and precipitation data into a dataframe
        df = pd.DataFrame({"Station": stat, "Lat": coords[0], "Long": coords[1], "Time": time, "Precipitation": precipData})
        precip = pd.concat([precip, df], ignore_index=True)
    print("Finished extracting data from " + file[-20:-3])
    ncid.close()

# Convert the time data to datetime format
precip["Time"] = precip["Time"].apply(lambda x: datetime(1850, 1, 1) + timedelta(days=x))

### Temperature

In [ ]:
# All the temperature files starts with a "tasAdjust" and ends with a ".nc"
path = "HydroGFD/tasAdjust*"
tempFiles = glob.glob(path) #Creates a list of all the temperature flux files relative paths

# Loop through each temperature file and extract the data which should only be separated by time
# and store them in a single dataframe
temperature = pd.DataFrame(columns=["Station","Lat", "Long", "Time", "Temperature"])

# Loop through each file and pull out the data at each time step for every lat and lon coordinate we have in the CNIP dataset that is stored in the stationCoords dictionary
for file in tempFiles:
    ncid = nc.Dataset(file, "r")

    #Pull out the time data and coordiante data
    time = ncid.variables["time"][:].filled(np.nan)
    lat = ncid.variables["lat"][:].filled(np.nan)
    lon = ncid.variables["lon"][:].filled(np.nan)

    for stat, coords in stationCoords.items():
        latIndex = (np.abs(lat - coords[0])).argmin()
        lonIndex = (np.abs(lon - coords[1])).argmin()

        # Pull out the temperature data at each time step
        tempData = ncid.variables["tasAdjust"][:, latIndex, lonIndex].filled(np.nan) #Filling with nan, as we can't make an assumption about the temperature
        
        # Place the lat, lon, time, and temperature data into a dataframe
        df = pd.DataFrame({"Station": stat, "Lat": coords[0], "Long": coords[1], "Time": time, "Temperature": tempData})
        temperature = pd.concat([temperature, df], ignore_index=True)
    print("Finished extracting data from " + file[-20:-3])
    ncid.close()

# Convert the time data to datetime format
temperature["Time"] = temperature["Time"].apply(lambda x: datetime(1850, 1, 1) + timedelta(days=x))

### HydroGFD

In [ ]:
# Merge the precipitation and temperature dataframes
hydroGFD = pd.merge(precip, temperature, on=["Station", "Lat", "Long", "Time"], how="outer")

# Keep only the needed columns of the dataframe: station, lat, long, time, precipitation, temperature
# removing the index columns
hydroGFD = hydroGFD[["Station", "Lat", "Long", "Time", "Precipitation", "Temperature"]]

# Renaming some columns to include units
hydroGFD = hydroGFD.rename(columns={
    "Precipitation": "Precipitation (kg/m^2/s)", 
    "Temperature": "Temperature (K)",
    "Time": "Date"})

hydroGFD = hydroGFD.sort_values(["Date"])

# Finally saving this data as a CSV file just in case
hydroGFD.to_csv(r"hydroGFD.csv", index=False)

In [38]:
# Load hydroGFD csv data so I don't have to run the above code every time
hydroGFD = pd.read_csv("hydroGFD.csv")

In [48]:
# Make hydroGFD dates to datetime objects from strings
hydroGFD["Date"] = pd.to_datetime(hydroGFD["Date"], format="%Y-%m-%d %H:%M:%S")

# Change hours to 00:00:00
hydroGFD["Date"] = hydroGFD["Date"].dt.normalize()

## Combining the data

In [49]:
# First I will pull out all the dates in CNIP and HydroGFD
cnipDates = cnip["Date"].unique()
hydroGFDDates = hydroGFD["Date"].unique()

# Find the dates that are in both CNIP and HydroGFD
commonDates = np.intersect1d(cnipDates, hydroGFDDates)

# Remove the rows in the CNIP dataset that are not in the HydroGFD dataset and vice versa
#cnip = cnip[cnip.Date.isin(hydroGFD.Date)].reset_index()
#hydroGFD = hydroGFD[hydroGFD.Date.isin(cnip.Date)].reset_index()

commonDates

array(['1960-01-15T00:00:00.000000000', '1960-02-15T00:00:00.000000000',
       '1960-03-15T00:00:00.000000000', '1960-04-15T00:00:00.000000000',
       '1960-05-15T00:00:00.000000000', '1960-06-15T00:00:00.000000000',
       '1960-07-15T00:00:00.000000000', '1960-08-15T00:00:00.000000000',
       '1960-09-15T00:00:00.000000000', '1960-10-15T00:00:00.000000000',
       '1960-11-15T00:00:00.000000000', '1960-12-15T00:00:00.000000000',
       '1961-01-15T00:00:00.000000000', '1961-02-15T00:00:00.000000000',
       '1961-03-15T00:00:00.000000000', '1961-04-15T00:00:00.000000000',
       '1961-05-15T00:00:00.000000000', '1961-06-15T00:00:00.000000000',
       '1961-07-15T00:00:00.000000000', '1961-08-15T00:00:00.000000000',
       '1961-09-15T00:00:00.000000000', '1961-10-15T00:00:00.000000000',
       '1961-11-15T00:00:00.000000000', '1961-12-15T00:00:00.000000000',
       '1962-01-15T00:00:00.000000000', '1962-02-15T00:00:00.000000000',
       '1962-03-15T00:00:00.000000000', '1962-04-15T00:00:00.000000000',
       '1962-05-15T00:00:00.000000000', '1962-06-15T00:00:00.000000000',
       '1962-07-15T00:00:00.000000000', '1962-08-15T00:00:00.000000000',
       '1962-09-15T00:00:00.000000000', '1962-10-15T00:00:00.000000000',
       '1962-11-15T00:00:00.000000000', '1962-12-15T00:00:00.000000000',
       '1963-01-15T00:00:00.000000000', '1963-02-15T00:00:00.000000000',
       '1963-03-15T00:00:00.000000000', '1963-04-15T00:00:00.000000000',
       '1963-05-15T00:00:00.000000000', '1963-06-15T00:00:00.000000000',
       '1963-07-15T00:00:00.000000000', '1963-08-15T00:00:00.000000000',
       '1963-09-15T00:00:00.000000000', '1963-10-15T00:00:00.000000000',
       '1963-11-15T00:00:00.000000000', '1963-12-15T00:00:00.000000000',
       '1964-01-15T00:00:00.000000000', '1964-02-15T00:00:00.000000000',
       '1964-03-15T00:00:00.000000000', '1964-04-15T00:00:00.000000000',
       '1964-05-15T00:00:00.000000000', '1964-06-15T00:00:00.000000000',
       '1964-07-15T00:00:00.000000000', '1964-08-15T00:00:00.000000000',
       '1964-09-15T00:00:00.000000000', '1964-10-15T00:00:00.000000000',
       '1964-11-15T00:00:00.000000000', '1964-12-15T00:00:00.000000000',
       '1965-01-15T00:00:00.000000000', '1965-02-15T00:00:00.000000000',
       '1965-03-15T00:00:00.000000000', '1965-04-15T00:00:00.000000000',
       '1965-05-15T00:00:00.000000000', '1965-06-15T00:00:00.000000000',
       '1965-07-15T00:00:00.000000000', '1965-08-15T00:00:00.000000000',
       '1965-09-15T00:00:00.000000000', '1965-10-15T00:00:00.000000000',
       '1965-11-15T00:00:00.000000000', '1965-12-15T00:00:00.000000000',
       '1966-01-15T00:00:00.000000000', '1966-02-15T00:00:00.000000000',
       '1966-03-15T00:00:00.000000000', '1966-04-15T00:00:00.000000000',
       '1966-05-15T00:00:00.000000000', '1966-06-15T00:00:00.000000000',
       '1966-07-15T00:00:00.000000000', '1966-08-15T00:00:00.000000000',
       '1966-09-15T00:00:00.000000000', '1966-10-15T00:00:00.000000000',
       '1966-11-15T00:00:00.000000000', '1966-12-15T00:00:00.000000000',
       '1967-01-15T00:00:00.000000000', '1967-02-15T00:00:00.000000000',
       '1967-03-15T00:00:00.000000000', '1967-04-15T00:00:00.000000000',
       '1967-05-15T00:00:00.000000000', '1967-06-15T00:00:00.000000000',
       '1967-07-15T00:00:00.000000000', '1967-08-15T00:00:00.000000000',
       '1967-09-15T00:00:00.000000000', '1967-10-15T00:00:00.000000000',
       '1967-11-15T00:00:00.000000000', '1967-12-15T00:00:00.000000000',
       '1968-01-15T00:00:00.000000000', '1968-02-15T00:00:00.000000000',
       '1968-03-15T00:00:00.000000000', '1968-04-15T00:00:00.000000000',
       '1968-05-15T00:00:00.000000000', '1968-06-15T00:00:00.000000000',
       '1968-07-15T00:00:00.000000000', '1968-08-15T00:00:00.000000000',
       '1968-09-15T00:00:00.000000000', '1968-10-15T00:00:00.000000000',
       '1968-11-15T00:00:00.000000000', '1968-12-15T00:00:00.000000000',
       '1969-01-15T00:00:00.000000000', '1969-02-15T00:00:00.000000000',
       '1969-03-15T00:00:00.000000000', '1969-04-15T00:00:00.000000000',
       '1969-05-15T00:00:00.000000000', '1969-06-15T00:00:00.000000000',
       '1969-07-15T00:00:00.000000000', '1969-08-15T00:00:00.000000000',
       '1969-09-15T00:00:00.000000000', '1969-10-15T00:00:00.000000000',
       '1969-11-15T00:00:00.000000000', '1969-12-15T00:00:00.000000000',
       '1970-01-15T00:00:00.000000000', '1970-02-15T00:00:00.000000000',
       '1970-03-15T00:00:00.000000000', '1970-04-15T00:00:00.000000000',
       '1970-05-15T00:00:00.000000000', '1970-06-15T00:00:00.000000000',
       '1970-07-15T00:00:00.000000000', '1970-08-15T00:00:00.000000000',
       '1970-09-15T00:00:00.000000000', '1970-10-15T00:00:00.000000000',
       '1970-11-15T00:00:00.000000000', '1970-12-15T00:00:00.000000000',
       '1971-01-15T00:00:00.000000000', '1971-02-15T00:00:00.000000000',
       '1971-03-15T00:00:00.000000000', '1971-04-15T00:00:00.000000000',
       '1971-05-15T00:00:00.000000000', '1971-06-15T00:00:00.000000000',
       '1971-07-15T00:00:00.000000000', '1971-08-15T00:00:00.000000000',
       '1971-09-15T00:00:00.000000000', '1971-10-15T00:00:00.000000000',
       '1971-11-15T00:00:00.000000000', '1971-12-15T00:00:00.000000000',
       '1972-01-15T00:00:00.000000000', '1972-02-15T00:00:00.000000000',
       '1972-03-15T00:00:00.000000000', '1972-04-15T00:00:00.000000000',
       '1972-05-15T00:00:00.000000000', '1972-06-15T00:00:00.000000000',
       '1972-07-15T00:00:00.000000000', '1972-08-15T00:00:00.000000000',
       '1972-09-15T00:00:00.000000000', '1972-10-15T00:00:00.000000000',
       '1972-11-15T00:00:00.000000000', '1972-12-15T00:00:00.000000000',
       '1973-01-15T00:00:00.000000000', '1973-02-15T00:00:00.000000000',
       '1973-03-15T00:00:00.000000000', '1973-04-15T00:00:00.000000000',
       '1973-05-15T00:00:00.000000000', '1973-06-15T00:00:00.000000000',
       '1973-07-15T00:00:00.000000000', '1973-08-15T00:00:00.000000000',
       '1973-09-15T00:00:00.000000000', '1973-10-15T00:00:00.000000000',
       '1973-11-15T00:00:00.000000000', '1973-12-15T00:00:00.000000000',
       '1974-01-15T00:00:00.000000000', '1974-02-15T00:00:00.000000000',
       '1974-03-15T00:00:00.000000000', '1974-04-15T00:00:00.000000000',
       '1974-05-15T00:00:00.000000000', '1974-06-15T00:00:00.000000000',
       '1974-07-15T00:00:00.000000000', '1974-08-15T00:00:00.000000000',
       '1974-09-15T00:00:00.000000000', '1974-10-15T00:00:00.000000000',
       '1974-11-15T00:00:00.000000000', '1974-12-15T00:00:00.000000000',
       '1975-01-15T00:00:00.000000000', '1975-02-15T00:00:00.000000000',
       '1975-03-15T00:00:00.000000000', '1975-04-15T00:00:00.000000000',
       '1975-05-15T00:00:00.000000000', '1975-06-15T00:00:00.000000000',
       '1975-07-15T00:00:00.000000000', '1975-08-15T00:00:00.000000000',
       '1975-09-15T00:00:00.000000000', '1975-10-15T00:00:00.000000000',
       '1975-11-15T00:00:00.000000000', '1975-12-15T00:00:00.000000000',
       '1976-01-15T00:00:00.000000000', '1976-02-15T00:00:00.000000000',
       '1976-03-15T00:00:00.000000000', '1976-04-15T00:00:00.000000000',
       '1976-05-15T00:00:00.000000000', '1976-06-15T00:00:00.000000000',
       '1976-07-15T00:00:00.000000000', '1976-08-15T00:00:00.000000000',
       '1976-09-15T00:00:00.000000000', '1976-10-15T00:00:00.000000000',
       '1976-11-15T00:00:00.000000000', '1976-12-15T00:00:00.000000000',
       '1977-01-15T00:00:00.000000000', '1977-02-15T00:00:00.000000000',
       '1977-03-15T00:00:00.000000000', '1977-04-15T00:00:00.000000000',
       '1977-05-15T00:00:00.000000000', '1977-06-15T00:00:00.000000000',
       '1977-07-15T00:00:00.000000000', '1977-08-15T00:00:00.000000000',
       '1977-09-15T00:00:00.000000000', '1977-10-15T00:00:00.000000000',
       '1977-11-15T00:00:00.000000000', '1977-12-15T00:00:00.000000000',
       '1978-01-15T00:00:00.000000000', '1978-02-15T00:00:00.000000000',
       '1978-03-15T00:00:00.000000000', '1978-04-15T00:00:00.000000000',
       '1978-05-15T00:00:00.000000000', '1978-06-15T00:00:00.000000000',
       '1978-07-15T00:00:00.000000000', '1978-08-15T00:00:00.000000000',
       '1978-09-15T00:00:00.000000000', '1978-10-15T00:00:00.000000000',
       '1978-11-15T00:00:00.000000000', '1978-12-15T00:00:00.000000000',
       '1979-01-15T00:00:00.000000000', '1979-02-15T00:00:00.000000000',
       '1979-03-15T00:00:00.000000000', '1979-04-15T00:00:00.000000000',
       '1979-05-15T00:00:00.000000000', '1979-06-15T00:00:00.000000000',
       '1979-07-15T00:00:00.000000000', '1979-08-15T00:00:00.000000000',
       '1979-09-15T00:00:00.000000000', '1979-10-15T00:00:00.000000000',
       '1979-11-15T00:00:00.000000000', '1979-12-15T00:00:00.000000000',
       '1980-01-15T00:00:00.000000000', '1980-02-15T00:00:00.000000000',
       '1980-03-15T00:00:00.000000000', '1980-04-15T00:00:00.000000000',
       '1980-05-15T00:00:00.000000000', '1980-06-15T00:00:00.000000000',
       '1980-07-15T00:00:00.000000000', '1980-08-15T00:00:00.000000000',
       '1980-09-15T00:00:00.000000000', '1980-10-15T00:00:00.000000000',
       '1980-11-15T00:00:00.000000000', '1980-12-15T00:00:00.000000000',
       '1981-01-15T00:00:00.000000000', '1981-02-15T00:00:00.000000000',
       '1981-03-15T00:00:00.000000000', '1981-04-15T00:00:00.000000000',
       '1981-05-15T00:00:00.000000000', '1981-06-15T00:00:00.000000000',
       '1981-07-15T00:00:00.000000000', '1981-08-15T00:00:00.000000000',
       '1981-09-15T00:00:00.000000000', '1981-10-15T00:00:00.000000000',
       '1981-11-15T00:00:00.000000000', '1981-12-15T00:00:00.000000000',
       '1982-01-15T00:00:00.000000000', '1982-02-15T00:00:00.000000000',
       '1982-03-15T00:00:00.000000000', '1982-04-15T00:00:00.000000000',
       '1982-05-15T00:00:00.000000000', '1982-06-15T00:00:00.000000000',
       '1982-07-15T00:00:00.000000000', '1982-08-15T00:00:00.000000000',
       '1982-09-15T00:00:00.000000000', '1982-10-15T00:00:00.000000000',
       '1982-11-15T00:00:00.000000000', '1982-12-15T00:00:00.000000000',
       '1983-01-15T00:00:00.000000000', '1983-02-15T00:00:00.000000000',
       '1983-03-15T00:00:00.000000000', '1983-04-15T00:00:00.000000000',
       '1983-05-15T00:00:00.000000000', '1983-06-15T00:00:00.000000000',
       '1983-07-15T00:00:00.000000000', '1983-08-15T00:00:00.000000000',
       '1983-09-15T00:00:00.000000000', '1983-10-15T00:00:00.000000000',
       '1983-11-15T00:00:00.000000000', '1983-12-15T00:00:00.000000000',
       '1984-01-15T00:00:00.000000000', '1984-02-15T00:00:00.000000000',
       '1984-03-15T00:00:00.000000000', '1984-04-15T00:00:00.000000000',
       '1984-05-15T00:00:00.000000000', '1984-06-15T00:00:00.000000000',
       '1984-07-15T00:00:00.000000000', '1984-08-15T00:00:00.000000000',
       '1984-09-15T00:00:00.000000000', '1984-10-15T00:00:00.000000000',
       '1984-11-15T00:00:00.000000000', '1984-12-15T00:00:00.000000000',
       '1985-01-15T00:00:00.000000000', '1985-02-15T00:00:00.000000000',
       '1985-03-15T00:00:00.000000000', '1985-04-15T00:00:00.000000000',
       '1985-05-15T00:00:00.000000000', '1985-06-15T00:00:00.000000000',
       '1985-07-15T00:00:00.000000000', '1985-08-15T00:00:00.000000000',
       '1985-09-15T00:00:00.000000000', '1985-10-15T00:00:00.000000000',
       '1985-11-15T00:00:00.000000000', '1985-12-15T00:00:00.000000000',
       '1986-01-15T00:00:00.000000000', '1986-02-15T00:00:00.000000000',
       '1986-03-15T00:00:00.000000000', '1986-04-15T00:00:00.000000000',
       '1986-05-15T00:00:00.000000000', '1986-06-15T00:00:00.000000000',
       '1986-07-15T00:00:00.000000000', '1986-08-15T00:00:00.000000000',
       '1986-09-15T00:00:00.000000000', '1986-10-15T00:00:00.000000000',
       '1986-11-15T00:00:00.000000000', '1986-12-15T00:00:00.000000000',
       '1987-01-15T00:00:00.000000000', '1987-02-15T00:00:00.000000000',
       '1987-03-15T00:00:00.000000000', '1987-04-15T00:00:00.000000000',
       '1987-05-15T00:00:00.000000000', '1987-06-15T00:00:00.000000000',
       '1987-07-15T00:00:00.000000000', '1987-08-15T00:00:00.000000000',
       '1987-09-15T00:00:00.000000000', '1987-10-15T00:00:00.000000000',
       '1987-11-15T00:00:00.000000000', '1987-12-15T00:00:00.000000000',
       '1988-01-15T00:00:00.000000000', '1988-02-15T00:00:00.000000000',
       '1988-03-15T00:00:00.000000000', '1988-04-15T00:00:00.000000000',
       '1988-05-15T00:00:00.000000000', '1988-06-15T00:00:00.000000000',
       '1988-07-15T00:00:00.000000000', '1988-08-15T00:00:00.000000000',
       '1988-09-15T00:00:00.000000000', '1988-10-15T00:00:00.000000000',
       '1988-11-15T00:00:00.000000000', '1988-12-15T00:00:00.000000000',
       '1989-01-02T00:00:00.000000000', '1989-01-15T00:00:00.000000000',
       '1989-02-02T00:00:00.000000000', '1989-02-15T00:00:00.000000000',
       '1989-03-02T00:00:00.000000000', '1989-03-15T00:00:00.000000000',
       '1989-04-02T00:00:00.000000000', '1989-04-15T00:00:00.000000000',
       '1989-05-02T00:00:00.000000000', '1989-05-15T00:00:00.000000000',
       '1989-06-02T00:00:00.000000000', '1989-06-15T00:00:00.000000000',
       '1989-07-02T00:00:00.000000000', '1989-07-15T00:00:00.000000000',
       '1989-08-02T00:00:00.000000000', '1989-08-15T00:00:00.000000000',
       '1989-09-02T00:00:00.000000000', '1989-09-15T00:00:00.000000000',
       '1989-10-02T00:00:00.000000000', '1989-10-15T00:00:00.000000000',
       '1989-11-02T00:00:00.000000000', '1989-11-15T00:00:00.000000000',
       '1989-12-02T00:00:00.000000000', '1989-12-15T00:00:00.000000000',
       '1990-01-02T00:00:00.000000000', '1990-01-15T00:00:00.000000000',
       '1990-02-02T00:00:00.000000000', '1990-02-15T00:00:00.000000000',
       '1990-03-02T00:00:00.000000000', '1990-03-15T00:00:00.000000000',
       '1990-04-02T00:00:00.000000000', '1990-04-15T00:00:00.000000000',
       '1990-05-02T00:00:00.000000000', '1990-05-15T00:00:00.000000000',
       '1990-06-02T00:00:00.000000000', '1990-06-15T00:00:00.000000000',
       '1990-07-02T00:00:00.000000000', '1990-07-15T00:00:00.000000000',
       '1990-08-02T00:00:00.000000000', '1990-08-15T00:00:00.000000000',
       '1990-09-02T00:00:00.000000000', '1990-09-15T00:00:00.000000000',
       '1990-10-02T00:00:00.000000000', '1990-10-15T00:00:00.000000000',
       '1990-11-02T00:00:00.000000000', '1990-11-15T00:00:00.000000000',
       '1990-12-02T00:00:00.000000000', '1990-12-15T00:00:00.000000000',
       '1991-01-02T00:00:00.000000000', '1991-01-15T00:00:00.000000000',
       '1991-02-02T00:00:00.000000000', '1991-02-15T00:00:00.000000000',
       '1991-03-02T00:00:00.000000000', '1991-03-15T00:00:00.000000000',
       '1991-04-02T00:00:00.000000000', '1991-04-15T00:00:00.000000000',
       '1991-05-02T00:00:00.000000000', '1991-05-15T00:00:00.000000000',
       '1991-06-02T00:00:00.000000000', '1991-06-15T00:00:00.000000000',
       '1991-07-02T00:00:00.000000000', '1991-07-15T00:00:00.000000000',
       '1991-08-02T00:00:00.000000000', '1991-08-15T00:00:00.000000000',
       '1991-09-02T00:00:00.000000000', '1991-09-15T00:00:00.000000000',
       '1991-10-02T00:00:00.000000000', '1991-10-15T00:00:00.000000000',
       '1991-11-02T00:00:00.000000000', '1991-11-15T00:00:00.000000000',
       '1991-12-02T00:00:00.000000000', '1991-12-15T00:00:00.000000000',
       '1992-01-02T00:00:00.000000000', '1992-01-15T00:00:00.000000000',
       '1992-02-02T00:00:00.000000000', '1992-02-15T00:00:00.000000000',
       '1992-03-02T00:00:00.000000000', '1992-03-15T00:00:00.000000000',
       '1992-04-02T00:00:00.000000000', '1992-04-15T00:00:00.000000000',
       '1992-05-02T00:00:00.000000000', '1992-05-15T00:00:00.000000000',
       '1992-06-02T00:00:00.000000000', '1992-06-15T00:00:00.000000000',
       '1992-07-02T00:00:00.000000000', '1992-07-15T00:00:00.000000000',
       '1992-08-02T00:00:00.000000000', '1992-08-15T00:00:00.000000000',
       '1992-09-02T00:00:00.000000000', '1992-09-15T00:00:00.000000000',
       '1992-10-02T00:00:00.000000000', '1992-10-15T00:00:00.000000000',
       '1992-11-02T00:00:00.000000000', '1992-11-15T00:00:00.000000000',
       '1992-12-02T00:00:00.000000000', '1992-12-15T00:00:00.000000000',
       '1993-01-02T00:00:00.000000000', '1993-01-15T00:00:00.000000000',
       '1993-02-02T00:00:00.000000000', '1993-02-15T00:00:00.000000000',
       '1993-03-02T00:00:00.000000000', '1993-03-15T00:00:00.000000000',
       '1993-04-02T00:00:00.000000000', '1993-04-15T00:00:00.000000000',
       '1993-05-02T00:00:00.000000000', '1993-05-15T00:00:00.000000000',
       '1993-06-02T00:00:00.000000000', '1993-06-15T00:00:00.000000000',
       '1993-07-02T00:00:00.000000000', '1993-07-15T00:00:00.000000000',
       '1993-08-02T00:00:00.000000000', '1993-08-15T00:00:00.000000000',
       '1993-09-02T00:00:00.000000000', '1993-09-15T00:00:00.000000000',
       '1993-10-02T00:00:00.000000000', '1993-10-15T00:00:00.000000000',
       '1993-11-02T00:00:00.000000000', '1993-11-15T00:00:00.000000000',
       '1993-12-02T00:00:00.000000000', '1993-12-15T00:00:00.000000000',
       '1994-01-02T00:00:00.000000000', '1994-01-15T00:00:00.000000000',
       '1994-02-02T00:00:00.000000000', '1994-02-15T00:00:00.000000000',
       '1994-03-02T00:00:00.000000000', '1994-03-15T00:00:00.000000000',
       '1994-04-02T00:00:00.000000000', '1994-04-15T00:00:00.000000000',
       '1994-05-02T00:00:00.000000000', '1994-05-15T00:00:00.000000000',
       '1994-06-02T00:00:00.000000000', '1994-06-15T00:00:00.000000000',
       '1994-07-02T00:00:00.000000000', '1994-07-15T00:00:00.000000000',
       '1994-08-02T00:00:00.000000000', '1994-08-15T00:00:00.000000000',
       '1994-09-02T00:00:00.000000000', '1994-09-15T00:00:00.000000000',
       '1994-10-02T00:00:00.000000000', '1994-10-15T00:00:00.000000000',
       '1994-11-02T00:00:00.000000000', '1994-11-15T00:00:00.000000000',
       '1994-12-02T00:00:00.000000000', '1994-12-15T00:00:00.000000000',
       '1995-01-02T00:00:00.000000000', '1995-01-15T00:00:00.000000000',
       '1995-02-02T00:00:00.000000000', '1995-02-15T00:00:00.000000000',
       '1995-03-02T00:00:00.000000000', '1995-03-15T00:00:00.000000000',
       '1995-04-02T00:00:00.000000000', '1995-04-15T00:00:00.000000000',
       '1995-05-02T00:00:00.000000000', '1995-05-15T00:00:00.000000000',
       '1995-06-02T00:00:00.000000000', '1995-06-15T00:00:00.000000000',
       '1995-07-02T00:00:00.000000000', '1995-07-15T00:00:00.000000000',
       '1995-08-02T00:00:00.000000000', '1995-08-15T00:00:00.000000000',
       '1995-09-02T00:00:00.000000000', '1995-09-15T00:00:00.000000000',
       '1995-10-02T00:00:00.000000000', '1995-10-15T00:00:00.000000000',
       '1995-11-02T00:00:00.000000000', '1995-11-15T00:00:00.000000000',
       '1995-12-02T00:00:00.000000000', '1995-12-15T00:00:00.000000000',
       '1996-01-02T00:00:00.000000000', '1996-01-15T00:00:00.000000000',
       '1996-02-02T00:00:00.000000000', '1996-02-15T00:00:00.000000000',
       '1996-03-02T00:00:00.000000000', '1996-03-15T00:00:00.000000000',
       '1996-04-02T00:00:00.000000000', '1996-04-15T00:00:00.000000000',
       '1996-05-02T00:00:00.000000000', '1996-05-15T00:00:00.000000000',
       '1996-06-02T00:00:00.000000000', '1996-06-15T00:00:00.000000000',
       '1996-07-02T00:00:00.000000000', '1996-07-15T00:00:00.000000000',
       '1996-08-02T00:00:00.000000000', '1996-08-15T00:00:00.000000000',
       '1996-09-02T00:00:00.000000000', '1996-09-15T00:00:00.000000000',
       '1996-10-02T00:00:00.000000000', '1996-10-15T00:00:00.000000000',
       '1996-11-02T00:00:00.000000000', '1996-11-15T00:00:00.000000000',
       '1996-12-02T00:00:00.000000000', '1996-12-15T00:00:00.000000000',
       '1997-01-02T00:00:00.000000000', '1997-02-02T00:00:00.000000000',
       '1997-03-02T00:00:00.000000000', '1997-04-02T00:00:00.000000000',
       '1997-05-02T00:00:00.000000000', '1997-06-02T00:00:00.000000000',

In [50]:
# Keep only the rows in the CNIP and HydroGFD datasets that have the same dates in the commonDates array
cnip = cnip[cnip.Date.isin(commonDates)].reset_index()
hydroGFD = hydroGFD[hydroGFD.Date.isin(commonDates)].reset_index()

In [51]:
# Create copies of the CNIP and HydroGFD dataframes so I don't have to rerun the code above
cnipCopy = cnip.copy()
hydroGFDCopy = hydroGFD.copy()

In [54]:
# Combining the copies of the CNIP and HydroGFD dataframes. 
# This will allow me to compare the data between the two datasets
#cnipCopy = cnipCopy.drop(["index"], axis=1)
#hydroGFDCopy = hydroGFDCopy.drop(["index"], axis=1)

# Merge the CNIP and HydroGFD dataframes
merged = pd.merge(cnipCopy, hydroGFDCopy, on=["Station", "Lat", "Long", "Date"], how="outer")

In [55]:
merged = merged.sort_values(["Date"]).reset_index()
merged = merged.drop(["index", "level_0", "index_x", "index_y"], axis=1)

In [56]:
# Drop all rows that have Nan values in the O18Avg, Precipitation (kg/m^2/s), and Temperature (K) columns
merged = merged.dropna(subset=["O18Avg", "Precipitation (kg/m^2/s)", "Temperature (K)"]).reset_index()

In [57]:
# Export the merged dataframe to a CSV file
merged.to_csv(r"merged.csv", index=False)