Statistical Analysis of Results
===============================
This will be an examnination of results. Just statistical analysis nothing else.

# Table of Contents
1. [Preliminaries](#preliminaries)
2. [Kling-Gupta Efficiency](#kling-gupta-efficiency)

# 1. Preliminaries
This is the setup for the rest of the analysis.

In [1]:
# Library imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Load in the isotope data that it was trained on, and extract the lat lon of the individual stations
isotope_data = pd.read_csv('Isoscape_Data.csv')
isotope_data.drop_duplicates(subset=['Station'], inplace=True)
isotope_data.reset_index()

station_coord = isotope_data[['Station', 'Lat', 'Long']]
station_coord.set_index('Station', inplace=True)
station_coord = station_coord.to_dict(orient='index')

In [28]:
# Load in results into a pandas dataframe
results = pd.read_csv('results_test.csv')

# Convert the day of year column and year column into a datetime object
results['date'] = pd.to_datetime(results['Year'].astype(str) + '-' + results['Day'].astype(str), format='%Y-%j')
results = results.set_index('date')
results = results.drop(columns=['Year', 'Day'])

# Create new column for the station name and fill it with the station name based off the lat lon and the station_coord dataframe
for stat in station_coord:
    results.loc[results['Lat'] == station_coord[stat]['Lat'], 'Station'] = stat

results.head()

,Lat,Long,Alt,Precipitation (kg/m^2/s),Temperature (K),Predictions,Actual,Station
date,,,,,,,,
2003-12-02,47.98,55.82,190.0,0.0,271.142517,-12.983921,-16.59,BAB
2003-12-02,49.38,82.12,245.0,0.0,265.255096,-20.723955,-20.07,BON
2003-12-02,46.29,64.15,45.0,0.0,270.236603,-14.407454,-8.42,HAB
2003-12-02,45.32,75.67,114.0,0.0,269.147888,-13.856897,-13.85,OTT
2003-12-02,48.78,123.13,178.0,0.0,252.437027,-16.355522,-12.78,SAT

# 2. Kling-Gupta Efficiency
In this I will be breaking down the Kling-Gupta Efficiency (KGE) into its components and then analyzing the results. Finally also storing them in a dataframe for later examination.